nav{
	width: 100%;
	height:80px;
	margin-top: 5%;
	padding-right:5%;
	padding-left:5%;
	display: inline-block;
	font-size: 0;
	z-index: 99999999;
    position: absolute;

    	.navigation{
    		margin: 0 auto;
    		position: relative;
    		top: 0;
    		left: 0;
    		//padding-left:7%;

			.left{
				text-align: left;
				font-size: 0;
				width: 30%;
				vertical-align: middle;
				display: inline-block;
				li{ 
					display: inline-block;
					vertical-align: middle;
					img{
						widht: 79.1px;
						height: 79.1px;

					}
					.regressoAulas{
							margin-left: 20px;
							display: inline-block;
							width: 61px;
						h3{
							font-family: $Bd-font;
							font-size: 12px;
							color: #ffffff;
						}
						em{
							font-size: 13px;
							line-height: 1.3;
						}
						h2{
							font-size: 23px;
							font-family: $XBd-font;
							color:#f8e71c;

						}
					}
				}
				@include mq(0,1080px){
					width: 50%;
				}

				@include mq(0,600px){
					width: 80%;
				}



			}
			.right{
				font-size: 0;
				position: absolute;
    			right: 0px;
    			top: 45%;
				vertical-align: middle;
				display: inline-block;
				text-align: right;
				li{
					//text-align: right;
					display: inline-block;
					vertical-align: middle;
					margin-left: 50px;
					text-align: center;
					a{
						text-decoration: none;
						text-align: center;

						p{
							font-size: 12px;
							color: #ffffff;
							text-align:center;
							transition: all 0.3s ease-in-out;
							margin:0 auto;
								&:hover{
									color:#f8e71c;	
								}
						}
					}
				}

					.active{
						position: relative;
						top:0;
						left: 0;
						text-align: center;
						transition: all 2s ease-in-out;

					
						a{
							background-color: green;

							p{
								color:#f8e71c;

							}

							&:before{
										content:'';
										width: 100%;
										height: 2.5px;
										background-color:#f8e71c;
										position: absolute;
										top: 25px;
    									left: 0;						
									}
						}
						
					}
					

			@include mq(0,1080px){
				width: 20%;
				display: inline-block;
				vertical-align: middle;
				font-size: 13px;
				text-align: right;
				li{
					display: none;
					&:first-child{
						display:block;
                    }
				}
			}

			@include mq(0,600px){
				width: 25%;
			}


		}
	}
}